In [1]:
#Import the necessary libraries
#Import the necessary libraries
import os
import pandas as pd

In [2]:
#Load the data
PCE_data1 = pd.read_csv('../raw/PCE_1959_1983.csv', header=None)
PCE_data2 = pd.read_csv('../raw/PCE_1984_2024.csv', header=None)

#Check the data
print(PCE_data1.head(10))
print(PCE_data2.head(10))

                                                 0    \
0  Table 2.3.5U. Personal Consumption Expenditure...
1  Table 2.3.5U. Personal Consumption Expenditure...
2  Last Revised on: November 27, 2024 - Next Rele...
3                                               Line
4                                               Line
5                                                NaN
6                                                  1
7                                                  2
8                                                  3
9                                                  4

                                                 1       2       3       4    \
0                                                NaN     NaN     NaN     NaN
1                                                NaN     NaN     NaN     NaN
2                                                NaN     NaN     NaN     NaN
3                                                NaN    1959    1959    1959
4                                                NaN     JAN     FEB     MAR
5  Personal consumption expenditures by major typ...     NaN     NaN     NaN
6            Personal consumption expenditures (PCE)  306091  309554  312702
7                                              Goods  167411  169596  172162
8                                      Durable goods   42295   44207   44445
9                           Motor vehicles and parts   16904   18467   18900

      5       6       7       8       9    ...      292      293      294  \
0     NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
1     NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
2     NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
3    1959    1959    1959    1959    1959  ...     1983     1983     1983
4     APR     MAY     JUN     JUL     AUG  ...      MAR      APR      MAY
5     NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
6  312193  316130  318193  317787  320161  ...  2202774  2226393  2245902
7  170680  173326  173845  172707  174065  ...   934658   947027   961565
8   45065   45359   45971   45408   46189  ...   271571   281694   288823
9   19436   19315   19254   19349   19906  ...   106742   116467   120357

       295      296      297      298      299      300      301
0      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN      NaN      NaN      NaN      NaN
3     1983     1983     1983     1983     1983     1983     1983
4      JUN      JUL      AUG      SEP      OCT      NOV      DEC
5      NaN      NaN      NaN      NaN      NaN      NaN      NaN
6  2276020  2304398  2320429  2334858  2357587  2366269  2393632
7   979304   989705   989369   993320  1007469  1012388  1027519
8   298234   303363   301169   302552   313652   315864   328294
9   127823   129403   126622   125242   134051   132741   144566

[10 rows x 302 columns]
                                                 0    \
0  Table 2.3.5U. Personal Consumption Expenditure...
1  Table 2.3.5U. Personal Consumption Expenditure...
2  Last Revised on: November 27, 2024 - Next Rele...
3                                               Line
4                                               Line
5                                                NaN
6                                                  1
7                                                  2
8                                                  3
9                                                  4

                                                 1        2        3    \
0                                                NaN      NaN      NaN
1                                                NaN      NaN      NaN
2                                                NaN      NaN      NaN
3                                                NaN     1984     1984
4                                                NaN      JAN      FEB
5  Personal consumption expenditures by major typ...      NaN      NaN
6            Personal consumption expenditures (PCE)  2419379  2403535
7                                              Goods  1047339  1030217
8                                      Durable goods   336814   328742
9                           Motor vehicles and parts   147453   141147

       4        5        6        7        8        9    ...       482  \
0      NaN      NaN      NaN      NaN      NaN      NaN  ...       NaN
1      NaN      NaN      NaN      NaN      NaN      NaN  ...       NaN
2      NaN      NaN      NaN      NaN      NaN      NaN  ...       NaN
3     1984     1984     1984     1984     1984     1984  ...      2024
4      MAR      APR      MAY      JUN      JUL      AUG  ...       JAN
5      NaN      NaN      NaN      NaN      NaN      NaN  ...       NaN
6  2431581  2457516  2474478  2495634  2494602  2512193  ...  19308453
7  1036129  1052598  1061331  1077001  1061707  1061597  ...   6115814
8   328760   336004   341679   346123   341511   339745  ...   2112980
9   141589   144201   148765   148736   148199   144352  ...    704032

        483       484       485       486       487       488       489  \
0       NaN       NaN       NaN       NaN       NaN       NaN       NaN
1       NaN       NaN       NaN       NaN       NaN       NaN       NaN
2       NaN       NaN       NaN       NaN       NaN       NaN       NaN
3      2024      2024      2024      2024      2024      2024      2024
4       FEB       MAR       APR       MAY       JUN       JUL       AUG
5       NaN       NaN       NaN       NaN       NaN       NaN       NaN
6  19412699  19553172  19603274  19697331  19747490  19859264  19898041
7   6134233   6196511   6185979   6218874   6209021   6267524   6231547
8   2128647   2140322   2129314   2151688   2144499   2171127   2150963
9    717274    714321    717296    728074    701425    732191    713393

        490       491
0       NaN       NaN
1       NaN       NaN
2       NaN       NaN
3      2024      2024
4       SEP       OCT
5       NaN       NaN
6  20027196  20099540
7   6293735   6291398
8   2182463   2190046
9    727430    734397

[10 rows x 492 columns]

In [3]:
#Extract relavant rows
#Years row 4
years = PCE_data1.iloc[3, 2:]


#Months row 5
months = PCE_data1.iloc[4, 2:]


#PCE row 7
pce_values = PCE_data1.iloc[6, 2:]

#Ignore all other rows

#Check the extracted data
print("years:\n", years.head())
print("months:\n", months.head())
print("pce_values:\n", pce_values.head())

years:
 2    1959
3    1959
4    1959
5    1959
6    1959
Name: 3, dtype: object
months:
 2    JAN
3    FEB
4    MAR
5    APR
6    MAY
Name: 4, dtype: object
pce_values:
 2    306091
3    309554
4    312702
5    312193
6    316130
Name: 6, dtype: object

In [4]:
#Combine year and month to create a date column
#Convert month names to numeric values using mapping dictionary
month_map = {
    'JAN': '01', 'FEB': '02', 'MAR': '03', 'APR': '04',
    'MAY': '05', 'JUN': '06', 'JUL': '07', 'AUG': '08',
    'SEP': '09', 'OCT': '10', 'NOV': '11', 'DEC': '12'
}
#Map months to numeric values
months_numeric = months.map(month_map)

#Combine Year and Month into datetime format ex: 01/01/1959 for January 1959 and assign it to a new column called 'Date'
dates = pd.to_datetime(
    pd.DataFrame({'year': years, 'month': months_numeric, 'day': '01'}),
    errors='coerce'
)
#Check mapping
print("Mapped Months (numeric):\n", months_numeric.head())
print("Unmapped Months (NaN):\n", months[months_numeric.isna()])

Mapped Months (numeric):
 2    01
3    02
4    03
5    04
6    05
Name: 4, dtype: object
Unmapped Months (NaN):
 Series([], Name: 4, dtype: object)

In [5]:
#Combine years and months into date strings
date_strings = years + '-' + months_numeric + '-01'

#Check the date strings
print("Date Strings:\n", date_strings.head())

Date Strings:
 2    1959-01-01
3    1959-02-01
4    1959-03-01
5    1959-04-01
6    1959-05-01
dtype: object

In [6]:
#Conver the date strings to datetime format
dates = pd.to_datetime(date_strings, format='%Y-%m-%d', errors='coerce')

#Check the dates
print("Dates:\n", dates.head())
print("Number of invalid dates (NaT):\n", dates.isna().sum())

Dates:
 2   1959-01-01
3   1959-02-01
4   1959-03-01
5   1959-04-01
6   1959-05-01
dtype: datetime64[ns]
Number of invalid dates (NaT):
 0

In [7]:
#Create a new DataFrame with columns 'Date' and 'PCE'
PCE_cleaned = pd.DataFrame({
    'Date': dates,
    'PCE': pd.to_numeric(pce_values, errors='coerce')
})
#Drop rows with missing values
PCE_cleaned = PCE_cleaned.dropna()

#Check the cleaned data
print(PCE_cleaned.head())
print("Shape of the cleaned DataFrame:", PCE_cleaned.shape)

        Date     PCE
2 1959-01-01  306091
3 1959-02-01  309554
4 1959-03-01  312702
5 1959-04-01  312193
6 1959-05-01  316130
Shape of the cleaned DataFrame: (300, 2)

In [12]:
#Save the cleaned data
output_path = '../cleaned/PCE_cleaned.csv'
PCE_cleaned.to_csv(output_path, index=False)

In [8]:
#Error Checking
print("Years:\n", years.head())
print("Unique Years:\n", years.unique())
print("Data type of 'years':", years.dtype)

Years:
 2    1959
3    1959
4    1959
5    1959
6    1959
Name: 3, dtype: object
Unique Years:
 ['1959' '1960' '1961' '1962' '1963' '1964' '1965' '1966' '1967' '1968'
 '1969' '1970' '1971' '1972' '1973' '1974' '1975' '1976' '1977' '1978'
 '1979' '1980' '1981' '1982' '1983']
Data type of 'years': object

In [9]:
#Error Checking
print("Months (numeric):\n", months_numeric.head())
print("Unique Months:\n", months_numeric.unique())
print("Data type of 'months_numeric':", months_numeric.dtype)

Months (numeric):
 2    01
3    02
4    03
5    04
6    05
Name: 4, dtype: object
Unique Months:
 ['01' '02' '03' '04' '05' '06' '07' '08' '09' '10' '11' '12']
Data type of 'months_numeric': object

In [10]:
#Months error checking
print("Months (raw):\n", months.head())
print("Unique Months (raw):\n", months.unique())

Months (raw):
 2    JAN
3    FEB
4    MAR
5    APR
6    MAY
Name: 4, dtype: object
Unique Months (raw):
 ['JAN' 'FEB' 'MAR' 'APR' 'MAY' 'JUN' 'JUL' 'AUG' 'SEP' 'OCT' 'NOV' 'DEC']

In [11]:
#Error Checking
# Check lengths
print("Length of years:", len(years))
print("Length of months_numeric:", len(months_numeric))

Length of years: 300
Length of months_numeric: 300

In [13]:
#Repeat for the second dataset
#Extract relavant rows
#Years row 4
years_2 = PCE_data2.iloc[3, 2:] 


#Months row 5
months_2 = PCE_data2.iloc[4, 2:] 


#PCE row 7
pce_values_2 = PCE_data2.iloc[6, 2:] 

#Ignore all other rows

#Check the extracted data
print("Years (PCE_data2):\n", years_2.head())
print("Months (PCE_data2):\n", months_2.head())
print("PCE Values (PCE_data2):\n", pce_values_2.head())

Years (PCE_data2):
 2    1984
3    1984
4    1984
5    1984
6    1984
Name: 3, dtype: object
Months (PCE_data2):
 2    JAN
3    FEB
4    MAR
5    APR
6    MAY
Name: 4, dtype: object
PCE Values (PCE_data2):
 2    2419379
3    2403535
4    2431581
5    2457516
6    2474478
Name: 6, dtype: object

In [14]:
#Map months to numeric values
months_numeric_2 = months_2.map(month_map)

#Check mapping
print("Mapped Months (PCE_data2):\n", months_numeric_2.head())
print("Unmapped Months (NaN):\n", months_2[months_numeric_2.isna()])

Mapped Months (PCE_data2):
 2    01
3    02
4    03
5    04
6    05
Name: 4, dtype: object
Unmapped Months (NaN):
 Series([], Name: 4, dtype: object)

In [15]:
#Combine years and months into date strings
date_strings_2 = years_2 + '-' + months_numeric_2 + '-01'

#Conver the date strings to datetime format
dates_2 = pd.to_datetime(date_strings_2, format='%Y-%m-%d', errors='coerce')

#Check the dates
print("Dates (PCE_data2):\n", dates_2.head())
print("Number of Invalid Dates (NaT):\n", dates_2.isna().sum())

Dates (PCE_data2):
 2   1984-01-01
3   1984-02-01
4   1984-03-01
5   1984-04-01
6   1984-05-01
dtype: datetime64[ns]
Number of Invalid Dates (NaT):
 0

In [16]:
#Create a new DataFrame with columns 'Date' and 'PCE'
PCE_cleaned_2 = pd.DataFrame({
    'Date': dates_2,
    'PCE': pd.to_numeric(pce_values_2, errors='coerce')
})

#Drop rows with missing values
PCE_cleaned_2 = PCE_cleaned_2.dropna()

#Check the cleaned data
print(PCE_cleaned_2.head())
print("Shape of the cleaned DataFrame (PCE_data2):", PCE_cleaned_2.shape)

        Date      PCE
2 1984-01-01  2419379
3 1984-02-01  2403535
4 1984-03-01  2431581
5 1984-04-01  2457516
6 1984-05-01  2474478
Shape of the cleaned DataFrame (PCE_data2): (490, 2)

In [17]:
#Save the cleaned data
output_path_2 = '../cleaned/PCE_cleaned_2.csv'
PCE_cleaned_2.to_csv(output_path_2, index=False)

In [20]:
#Combine the two datasets
Combined_PCE = pd.concat([PCE_cleaned, PCE_cleaned_2], ignore_index=True)

#Sort the combined dataset by date
Combined_PCE.sort_values(by='Date', inplace=True)

#Check the combined DataFrame
print(Combined_PCE.head())
print(Combined_PCE.tail())
print("Shape of the Combined DataFrame:", Combined_PCE.shape)

        Date     PCE
0 1959-01-01  306091
1 1959-02-01  309554
2 1959-03-01  312702
3 1959-04-01  312193
4 1959-05-01  316130
          Date       PCE
785 2024-06-01  19747490
786 2024-07-01  19859264
787 2024-08-01  19898041
788 2024-09-01  20027196
789 2024-10-01  20099540
Shape of the Combined DataFrame: (790, 2)

In [21]:
#Save the combined data
output_path_combined = '../cleaned/PCE_combined.csv'
Combined_PCE.to_csv(output_path_combined, index=False)